doctype
html
	
	include ./header

	body.cv

		.container-fluid.dk-container

			.row

				.col-xs-6
					h1 Dalibor Knapp

				.col-xs-6.dk-menu
					include ./menu
					a.dk-menu-mobile-icon(onclick="dk.showhide('#mobile_menu')") &#9776;

			.row

				.col-xs-12
					.dk-content
						p.dk-content-important.dk-content-offset
							| PhDr. Dalibor Knapp
							br
							| *1985, Prague, Czechoslovakia
						p.dk-content-important.dk-content-offset
							| dalibor.knapp@gmail.copm
							br
							| +420 737 759 100

						p.dk-content-offset
							= cv.bio

						each rows, section in cv.sections

							h3= section

							table.dk-content-basicTable
								each row in rows
									tr
										td= row[0]
										td= row[1]



		include ./footer