doctype
html

	include ./header

	body.intro

		.container-fluid.dk-container

			.row

				.col-xs-6
					h1 Dalibor Knapp

				.col-xs-6.dk-menu
					include ./menu
					a.dk-menu-mobile-icon(onclick="dk.showhide('#mobile_menu')") &#9776;

			.row

				.col-xs-12

					.dk-crossroadsMenu

						h2 Obraz

						ul
							each image in images
								li
									a(href="/" + lang + "/" + helpers.slug(image.name) + ".html")= image.name

						h2 Text

						ul
							each text in texts
								li
									a(href="/" + lang + "/" + helpers.slug(text.name) + ".html")= text.name

						h2 
							a(href="/" + lang + "/cv.html") CV

		include ./footer

