doctype
html
	
	include ./header

	body.cv

		.container-fluid.dk-container

			.row

				.col-xs-6
					h1 Dalibor Knapp

				.col-xs-6.dk-menu
					include ./menu
					a.dk-menu-mobile-icon(onclick="dk.showhide('#mobile_menu')") &#9776;

			.row

				.col-xs-12

					.dk-content.centered

						.dk-content-important.dk-content-offset.dk-content-essayHeading
							= textMeta.name
							br
							= textMeta.type

						.dk-content-essayText.dk-content-offset
							!= text

		include ./footer