body {
	color: #000;

	font-family: "Roboto Mono";
	font-weight: 300;

	font-size: 16px;

	padding-bottom: 40px;

	a {
		color: #000;

		&:hover {
			color: #000;
			text-decoration: none;
		}
	}
}

body.intro {
	color: #fff;
	background-color: #000;

	a {
		color: #fff;

		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
}

.intro-background {

	position: fixed;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100vh;

	p {
		font-size: 5em;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

	h2 {
		font-size: 1.2em;
		font-weight: 300;
		text-align: left;
		margin-bottom: 20px;
	}

	menu {
		list-style-type: none;
		padding: 0;
		margin: 0;
		padding-top: 20px;

		li {
			margin-bottom: 20px;
		}

		a {
			color: #fff;
			text-decoration: none;
		}

		a:hover {
			text-decoration: none;
		}

		a:visited, a:active {
			text-decoration: none;
		}
	}

}

.intro-content {

	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;

	.intro-piece {
		position: absolute;

		width: 32vw;
		height: 18vw;

		border: 1px solid rgba(255,255,255,0)
	}

	.intro-piece-video {
		background-color: #000;
		img {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			height: 100%;
		}
		p {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
		}
	}

	.intro-piece-video:hover {
		border: 1px solid #fff;

		img {
			visibility: hidden;
		}
	}
	
	.intro-piece-text {
		border-radius: 50%;
		border: 1px solid #000;
		width: 25vh;
		height: 25vh;
		padding: 0px 2vw;
		background-color: #fff;
		color: #000;
		text-align: center;
		font-weight: 400;
		// vertically centered
		p {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.intro-piece.piece-1 {
		top: 10vh;
		left: 5%;
	}

	.intro-piece.piece-2 {
		top: 10vh;
		right: 5%;
	}

	.intro-piece.piece-3 {
		top: 40vh;
		left: 5%;
	}

	.intro-piece.piece-4 {
		top: 40vh;
		right: 5%;
	}

}

.dk-container {
	padding: 0px 20px;
}

.dk-menu {
	display: block;
	text-align: right;

	menu {
		display: inline-block;
		list-style-type: none;
		padding-right: 20px;

		li {
			display: block;
			line-height: 42px;
			font-size: 36px;
			font-weight: bold;
			padding-bottom: 20px;
		}
	}

	.dk-menu-mobile-icon {
		display: inline-block;
		font-size: 40px;

		text-decoration: none;
		vertical-align: top;
		padding-top: 10px;

		cursor: pointer;
	}
}

.dk-crossroadsMenu {
	display: block;

	h2 {
		text-transform: uppercase;
		padding: 20px 0px;

		a {
			color: #fff;
		}
	}

	ul {
		list-style-type: none;
		padding: 0;
		@media (min-width: 768px) {
			padding-left: 30px;
		}
		li {
			@media (max-width: 480px) {
				padding: 10px 0px;
			}
			a {
				color: #fff;
				font-size: 36px;
				@media (max-width: 560px) { 
					font-size: 24px;
				}
			}
		}
	}
}

.dk-content-important {
	font-weight: 700;
}

.dk-content-offset {
	padding: 10px 0px;
}

.dk-content {
	padding-top: 20px;
	max-width: 768px;

	h3 {
		padding: 20px 0px;
		text-transform: uppercase;
		font-size: 16px;
	}

	&.centered {
		margin: 0 auto;
	}
}

.dk-content-basicTable {
	td {
		padding: 2px 0px;
		padding-right: 30px;

	}
}

.dk-content-media {
	img {
		display: block;
		max-width: 768px;
		width: 100%;
		margin: 15px 0px;
	}
	iframe {
		display: block;
		max-width: 768px;
		width: 100%;
		min-height: 360px;
	}
}

.dk-content-text {
	p {
		padding: 10px 0px;
	}
}

.dk-content-essayHeading {
	display: block;
	max-width: 768px;
	text-align: center;
	margin: 0 auto;
}

.dk-content-essayText {
	display: block;
	max-width: 768px;
	margin: 0 auto;
}